body {
    padding: 0;
    margin: 0;
    background-color: #e6eff6;
}

.geral {
    height: 540px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.container {
    max-width: 800px;
    display: flex;
}
header {
    background-color: #FFF;
    display: flex;
    border-radius: 10px;

}
.text {
    display: flex;
    flex-direction: column;
}
.text1 {
    font-size: 20px;
    color: #2faea3;
    padding-left: 50px;
}
.text2 {
    font-size: 16px;
    color: #bcd055;
    padding-left: 50px;
}
.text3 p {
    font-size: 16px;
    color: #a4a7ae;
    padding-left: 50px;
}
.area {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-top: 30px;

}
.arealeft {
    background-color: #2bb3b1;
    width: 300px;
    height: 270px;
    padding: 15px;
    border-bottom-left-radius: 10px;
}
.arearight {
    background-color: #4abebd;
    width: 300px;
    height: 270px;
    padding: 15px;
    border-bottom-right-radius: 10px;
}
.title {
    padding: 15px;
}
.title1 {
    font-size: 16px;
    color: #fffffb;
}
.title2 {
    display: flex;
}
.title3 {
    color: #caffff;
}
.botao {
    width: 270px;
    height: 60px;
    background-color: #bfdf32;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.botao p {
    color: #fffffb;
    font-size: 20px;
}
.value {
    color: #fffffb;
    font-size: 26px; 
}
.comments {
    font-size: 14px;
    color: #85e0e1;
    margin-left: 10px;
    margin-top: 8px;
}
.area_texto {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}
.area_texto1 {
    color: #fffffb;
}
.area_texto2 {
    color: #85e0e1;
}
@media (max-width: 650px) {

    .container {
        max-width: 330px;
        display: flex;
        flex-direction: column;
    }
    
    .area {
        display: flex;
        flex-direction: column;
    }

    .arealeft {
        border-bottom-left-radius: 0px;
    }

    .arearight {
        border-bottom-left-radius: 10px; 
        margin-bottom: 60px;
    }

    .text1 {
        padding-left: 40px;
    }

    .text2 {
        padding-left: 40px;
    }
    
    .text3 p {
        padding-left: 35px;
    }

    .area {
        margin-bottom: -200px;
    }

}